@import "reset.css";

/* ---------- */

body {
    font-weight: 300;
    font-family: "Poppins";
    color: #9C9C9C;
    background-color: #0D0D11;
}

/* ---------- */

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: clip;
}

[class*="__container"] {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0px 15px;
}

.page {
    flex: 1 1 auto;
}

.button {
    display: inline-block;
    text-align: center;
    padding: 16px 30px;
    background: #3D96F4;
    border-radius: 50px;
    color: #fff;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.3s ease 0s;
    line-height: 1.43;
}

.button:hover {
    background-color: #68a9f0;
}

/* ---------- */
/* HEADER */

.header {
}

.header__container {
    display: flex;
    column-gap: 35px;
    align-items: center;
    min-height: 116px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.header__logo {
}

.header__menu {
    flex: 1 1 auto;
}

.menu {
}

.menu__icon {
}

.icon-menu {
    display: none;
}

.menu__list {
    display: flex;
    column-gap: 35px;
    justify-content: flex-end;
}

.menu__item {
}

.menu__link {
    font-size: 16px;
    color: #fff;
    line-height: 1.62;
}

.menu__link:hover {
    text-decoration: underline;
}

.header__cart {
}

.cart-header {
    color: #fff;
    display: flex;
    gap: 5px;
    align-items: center;
}

.cart-header:hover .cart-header__text {
    text-decoration: underline;
}

.cart-header__text {
    font-size: 18px;
    line-height: 1.55;
}

.cart-header__quantity {
    background: rgba(129, 129, 139, 0.3);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
}

.header__button {
}


/* ---------- */